[Unit]
Description=cert-proxy-client

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/cert-proxy-client
ExecStart=/usr/local/bin/cert-proxy-client -verbose -sslfile /etc/cert-proxy/client-ssl.pem -certbase /var/lib/cert-proxy/certs $OPTS
