[Unit]
Description=cert-proxy-client

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cert-proxy-client -verbose -sslfile /etc/cert-proxy/client-ssl.pem -certs /var/lib/cert-proxy/certs
