#!/bin/sh
#
# If called via the `-hook=<hook>` option:
# <hook> deploy_cert <DOMAIN> <KEYFILE> <CERTFILE> <FULLCHAINFILE> <CHAINFILE> <TIMESTAMP>
# Environment variables with matching names are provided too.
#
# If called as shared hook via `-shared-hook=<hook>`:
# <hook> shared <DOMAIN> ...
# An environment variable DOMAINS with a space separated list of the
# domain names is provided too.
#
# For PKCS12 as deploy_cert|shared <DOMAIN> <BUNDLEFILE> <TIMESTAMP>

# DO NOT FORGET to make this file executable!

set -eu
