#!/bin/sh
# called as <hook> deploy_cert <DOMAIN> <KEYFILE> <CERTFILE> <FULLCHAINFILE> <CHAINFILE> <TIMESTAMP>
# For PKCS12 as … <DOMAIN> <BUNDLEFILE> <TIMESTAMP>
# The values are in the positional parameters *AND* in environment vars of the same name
